<main role="main">
  <div class="sidebar">
    <div class="sidebar-inner-index">
      <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
      </ul>
    </div>
  </div>

  <div id="hero">
    <div class="inner">
      <div class="left">
        <img class="hero-logo" src="<%- url_for("/images/logo.png") %>" alt="vue logo">
      </div><div class="right">
        <h2 class="vue">BootGen</h2>
        <h1>
          Code Generator<br>for ASP.Net Core and Vue.js
        </h1>
        <p>
          <a id="modal-player" class="button has-icon" href="javascript:;">
            <%- partial('icons/play') %>
            INTRODUCTION</a>
          <a class="button white" href="<%- url_for("/docs/") %>">GET STARTED</a>
          <a class="button gray has-icon" href="https://github.com/BootGen/BootGenVue" target="_blank" rel="noopener">
            <%- partial('icons/github-dark') %>
            GITHUB</a>
        </p>
      </div>
    </div>
  </div>


  <div id="highlights">
    <div class="inner">
      <div class="point">
        <h2>Easy to Learn</h2>
        <p>Already know C#? Watch the introduction video or check out the getting started guide, and you are ready to go!</p>
      </div>

      <div class="point">
        <h2>Write much less code</h2>
        <p>With very little code you write BootGen can generate you tremendous amount of code on both client and server side. Entity classes, controllers, API specification, database seeds and more.</p>
      </div>

      <div class="point">
        <h2>Eliminate human error</h2>
        <p>Most programmer errors are made on the boring parts of the code. Here is the deal: we write those for you, so you can concentrate on the exciting parts.</p>
      </div>
    </div>
  </div>
</main>

<footer id="footer" role="contentinfo">
  <p>
    <a class="social-icon" href="https://github.com/vuejs/vue" target="_blank" rel="noopener">
      <%- partial('icons/github') %>
    </a>
  </p>
  <p>Released under the <a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">MIT License</a><br>
  Copyright &copy; 2020-<%- new Date().getFullYear() %> Code Sharp Kft.</p>
</footer>

<div id="video-modal" class="modal">
  <div class="video-space" style="padding: 56.25% 0 0 0; position: relative;">
    <iframe
      src="https://www.youtube.com/embed/<%- theme.intro_video %>" 
      style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
</p>
</div>

<script>
(function () {
  var topScrolled = false
 
  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
  })
})()
</script>
